$brand-theme-color:#28B389;  //主题色

$border-color:#e0e0e0;
$border-color-light:#efefef;


$text-font-color-1:#000;
$text-font-color-2:#676767;
$text-font-color-3:#a7a7a7;
$text-font-color-4:#e4e4e4;

